body {
    font-family: 'Barlow', sans-serif;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

h1, h2, h3 {
    font-weight: 700;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
}

button:hover {
    background-color: #cccccc;
}

input {
    padding: 8px;
    margin: 5px;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-family: 'Barlow', sans-serif;
}

input::placeholder {
    color: #cccccc;
}

#options button {
    display: block;
    width: 200px;
    margin: 10px auto;
}

#question-image {
    max-width: 450px;
    margin: 10px auto;
}

/* Volume slider styling */
#volume-slider {
    width: 200px;
    margin: 10px auto;
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    height: 8px;
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

#volume-slider:hover {
    opacity: 1;
}

#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #cccccc;
    cursor: pointer;
    border-radius: 50%;
}

#volume-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #cccccc;
    cursor: pointer;
    border-radius: 50%;
}